<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
</head>
<body>
    <div style="margin-left: 30%;
    margin-top: 15%; background-image: url(back3.jpg);">
    <h1>Employee Management System</h1>
    <a href="/add_employee"><button class="btn btn-primary" style="margin: 10px;">Add Employee +</button></a>
    <a href="/list"><button class="btn btn-primary">List all employees</button></a>
</div>
</body>
</html>